<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Open+Sans:wght@300;400;500;600&family=Ropa+Sans&display=swap"
  rel="stylesheet">

<style>

  .homepageHeading {
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ropa Sans', sans-serif;
  }
</style>
<section class=" py-3 container-fluid ">
  <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="2000">
        <img src="/images/Untitled.jpg" class="d-block w-100" alt="Wild Landscape" />
      </div>
      {{#each banner}}
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="/banner-images/{{this._id}}.jpg" class="d-block w-100" alt="Camera" />
      </div>
      {{/each}}
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
{{!-- Section for categories --}}
<section class="mx-3 mb-5 rounded-3" style="background-color: #f9f4f5 ;">
  <div class="text-center mt-5 mb-2 pt-2 pb-1">
    <h2 class="homepageHeading">CATEGORIES</h2>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-5">
      {{!-- Begin --}}
      {{#each categories}}
      <div class="col mb-4">
        <div class="border border-2 card h-100">
          <!--Card image-->
          <div class="view overlay bg-image hover-zoom">
            <img class="card-img-top" src="/category-images/{{this._id}}.jpg" alt="Card image cap">
            <a href="/category/{{this.categoryName}}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 style="text-transform: capitalize;" class="card-title text-center">{{this.categoryName}}</h5>
            <!--Text-->
            {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button> --}}
          </div>

        </div>
        <!-- Card -->
      </div>
      {{/each}}
    </div>
  </div>
</section>
<section style="background-color: #f9f4f5 ;" class="my-5 mx-3 rounded-3">
  <div class="text-center pt-2">
    <h2 class=" homepageHeading">TOP PICKS</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="https://meet.google.com/okb-bmck-gwo border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid " alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/085719b1-c71e-4f47-950c-9a6b7f291fac1598348260370-Jack-_-Jones.jpg">
                    </a>

                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div> --}}

                  </div>
                </div>
                <div class="col-md-4 mb-3 ">
                  <div class="border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/8d5afb84-a464-40af-9971-2e9f0827e9b71598892377591-UCB.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div> --}}
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/cec595c6-c7ec-4259-af8b-997a33a09ce71598892377444-Puma.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> --}}
                  </div>
                </div>

              </div>
            </div>
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/0206da63-a7cc-4f83-8527-90d7dc74706b1598892377489-Skechers.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div> --}}

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/1dce9c3e-77fa-48f1-85a3-d3c136c1d73e1598892377652-USPA.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> --}}
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/d977e7ac-67dd-4fa6-b922-fe0057385dfa1598892377205-Crocs.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> --}}
                  </div>
                </div>

              </div>
            </div>
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/af31285e-f6a3-426e-bbea-0aedef9da17c1598892377537-Tommy-Hilfiger.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div> --}}

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/a7d3676a-9694-4a84-835e-0408fdad884b1598892377407-Nike.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div> --}}
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="text-center border border-2 card bg-image hover-zoom">
                    <a href="">
                      <img class="img-fluid" alt="100%x280"
                        src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/31/3fa337a0-c792-4038-8d12-50d463c189a11598892377363-Levis.jpg">
                    </a>
                    {{!-- <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> --}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>